<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
      <script>
    // Apply theme before page renders
    (function() {
      const theme = localStorage.getItem('theme');
      if (theme === 'light') {
        document.documentElement.classList.add('light-mode');
      }
    })();
  </script>
    <style>
      .body {
      margin: 0;
      font-family:  'Courier New', monospace;;
      background-color: black;
      color: white;
      /*transition: background-color 0.3s, color 0.3s;*/
      line-height: 1.6;
      }
      /* Light mode styles */
      .body.light-mode {
        background-color: white;
        color: black;
      }
    </style>
    {% feed_meta %}
    {% seo %}
  </head>
  <body class="body">
    {% include navigation.html %}

    <script>
      function toggleDarkMode() {
        document.body.classList.toggle('light-mode');
        const isLight = document.body.classList.contains('light-mode');

        // update button icon
        const btn = document.querySelector('.toggle-btn i');
        if (isLight) {
          btn.classList.remove('fa-sun');
          btn.classList.add('fa-moon');
        } else {
          btn.classList.remove('fa-moon');
          btn.classList.add('fa-sun');
        }

        // save mode
        localStorage.setItem('theme', isLight ? 'light' : 'dark');
      }

      // Set button on load
      window.onload = function() {
        const theme = localStorage.getItem('theme');
        const btn = document.querySelector('.toggle-btn i');

        if (theme === 'light') {
          document.body.classList.add('light-mode');
          btn.classList.remove('fa-sun');
          btn.classList.add('fa-moon');
        } else {
          document.body.classList.remove('light-mode');
          btn.classList.remove('fa-moon');
          btn.classList.add('fa-sun');
        }
      }
    </script>


  
    {{ content }}
  

  </body>
</html>